body {
    display: flex; /*サイドバーとメインコンテンツを横並びにする指定をした。*/
    background-color: #fff8e8;
}

h1 {
    text-align: center;
}

.side { /*menu.php*/
    background-color: #fff;
    width: 100px;
    height: 200px;
    text-align: center;
}

.menu-btn {
    display: inline-block;
    padding: 10px 1em;
    text-decoration: none;
    color: #cb9854;
    border: solid 2px #fff;
    border-radius: 3px;
    transition: .4s;
}

.menu-btn:hover {
    background: #884513;
    color: white;
}

.main {
    width: 100%;
    text-align: center;
}

.home {
    margin: auto;
    margin-top: 20px;
}